<div *ngIf="overlay">
  <app-overlay></app-overlay>
</div>
<div class="cards-container">
  <div
    style="cursor: pointer"
    class="card single-form-middle"
    (click)="onGuess(staticCards[0], 0)"
  >
    <i class="red fi fi-ss-circle"></i>
  </div>
  <div
    style="cursor: pointer"
    class="card two-four-forms"
    (click)="onGuess(staticCards[1], 1)"
  >
    <i class="green fi fi-ss-triangle"></i>
    <i class="green fi fi-ss-triangle two-forms right-corner"></i>
  </div>
  <div
    style="cursor: pointer"
    class="card three-forms"
    (click)="onGuess(staticCards[2], 2)"
  >
    <i class="blue fi fi-ss-square"></i>
    <i class="blue fi fi-ss-square right-column-middle-three-forms"></i>
    <i class="blue fi fi-ss-square left-corner-three-forms"></i>
  </div>
  <div
    style="cursor: pointer"
    class="card two-four-forms"
    (click)="onGuess(staticCards[3], 3)"
  >
    <i class="yellow fi fi-ss-star"></i>
    <i class="yellow fi fi-ss-star"></i>
    <i class="yellow fi fi-ss-star"></i>
    <i class="yellow fi fi-ss-star"></i>
  </div>
</div>
