<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />

    <title>WCST</title>
  </head>
  <body>
    <div class="start-game" *ngIf="!gameStarted">
      <div>
        <button (click)="onStartGame()" type="button" class="start-game-button">
          START GAME
        </button>
      </div>
    </div>
    <div class="container" *ngIf="gameStarted">
      <app-card-container></app-card-container>
      <app-main-board></app-main-board>
    </div>
  </body>
</html>
