.card {
  border: 1px solid black;
  background-color: #fff;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  visibility: hidden;
}

.cards-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}

.random {
  visibility: hidden;
}

.evaluation {
  visibility: hidden;
}
